body {
    font-family: 'Metropolis', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Zabraňuje horizontálnímu scrollování */
    font-stretch: condensed;
    font-style: normal;
}

a {
    text-decoration: none; /* Zruší podtržení */
    color: inherit; /* Nastaví barvu podle rodiče, ne výchozí modrou */
}
a:hover {
    color: #333; /* Barva při najetí myší (můžeš přizpůsobit podle potřeby) */
}

.top {
    position: absolute;
    top: 0;
    height: 15%;
    width: 100%;
}

.top-text {
    color: black;
    top: 38%;
    position: absolute;
    left: 3%;
    font-size: 25px;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
    font-weight: 100;
    cursor: pointer;
}

.menu {
    position: absolute;
    flex-direction: column;
    height: 7%;
    width: 57%;
    top: 40.5%;
    right: 0;
}

.menu-text {
    display: flex;
    position: relative;
    cursor: pointer;
    gap: 10px;
    font-size: 18px;
    top: 50%;
    letter-spacing: 2px;
    transition: font-weight 0.3s ease;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;

}

.menu-text :hover {
    font-weight: bold;
}

.menu-text span::after {
    content: ' /';
    
}

.menu-text span:last-child::after {
    content: '';
}

.grey-square {
    background-color: rgb(244, 243, 243);
    position: absolute;
    top: 15%;
    width: 100%;
    height: 10%;
}

.mid {
    position: absolute;
    height: 140%;
    width: 100%;
    top: 25%;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
}

.title {
    position: relative;
    height: 10%;
    width: 15%;
    align-items: center;
    justify-content: center;
    left: 43.55%;
    top: -2%;
    font-size: 50px;
    color: #777;
    font-weight: 400;
}

.layout {
    display: flex;
    position: relative;
    height: 85%;
    width: 90%;
    left: 5%;
}

.column-1 {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.row {
    margin-left: 10px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin-bottom: 15px
}

.row-1 {
    height: 10%;
    font-size: 30px;
    align-items: center;
    margin-bottom: 35px;
    color: #777;
}

.row-2,
.row-3,
.row-4 {
    height: 30%;
    flex-direction: column;
    color: #333;
}

.name,
.email,
.tel {
    height: 45%;
    font-size: 20px;
    color: #777;
}

.row-5 {
    flex-direction: column;
    color: #333;
    height: 50%;
}

.ask {
    height: 70%;
    padding-top: 10px;       /* Přidej padding nahoře pro lepší vzhled (můžeš upravit hodnotu) */
    font-size: 20px;         /* Velikost textu */
    box-sizing: border-box;
    color: #777;
}

.row-6 {
    height: 20%;
}

.row-6 button {
    width: 30%;
    font-size: 24px;
    color: #afafaf;
    background-color: white;
    border: solid;
    border-color: #c3c3c3;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Přidá hladký přechod */
}

.row-6 button:hover {
    border-color: #777;
    color: #777;
}


.column-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.sec-row {
    margin-right: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin-bottom: 15px;
    width: 90%;
}

.sec-row-3 {display: flex; gap: 10px; height: 30%; margin-top: 20px;}

.sec-row-1 {
    height: 10%;
    font-size: 30px;
    align-items: center;
    margin-bottom: 35px;
    color: #777;
}

.sec-row-inner {
    gap: 10px;
}

.sec-row-inner-1,
.sec-row-inner-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.inner-column-1 {
    height: 40%;
    width: 100%;
    font-size: 19px;
    color: #333;
    margin-bottom: 20px;
}

.inner-column-2 {
    font-size: 19px;
    color: #333;
}
.inner-column-1 p,
.inner-column-2 p,
.inner-column-3 p,
.inner-column-4 p {
    color: #777;
}

.inner-column-3 {
    height: 35%;
    margin-bottom: 20px;
    color: #333;
    font-size: 19px;
}

.inner-column-4 {
    height: 30%;
    color: #333;
}
