body {
    font-family: 'Metropolis', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Zabraňuje horizontálnímu scrollování */
    font-stretch: condensed;
    font-style: normal;
}

a {
    text-decoration: none; /* Zruší podtržení */
    color: inherit; /* Nastaví barvu podle rodiče, ne výchozí modrou */
}
a:hover {
    color: #333; /* Barva při najetí myší (můžeš přizpůsobit podle potřeby) */
}

.top {
    position: absolute;
    top: 0;
    height: 15%;
    width: 100%;
}

.top-text {
    color: black;
    top: 38%;
    position: absolute;
    left: 3%;
    font-size: 25px;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
    font-weight: 100;
    cursor: pointer;
}

.menu {
    position: absolute;
    flex-direction: column;
    height: 7%;
    width: 57%;
    top: 40.5%;
    right: 0;
}

.menu-text {
    display: flex;
    position: relative;
    cursor: pointer;
    gap: 10px;
    font-size: 18px;
    top: 50%;
    letter-spacing: 2px;
    transition: font-weight 0.3s ease;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;

}

.menu-text :hover {
    font-weight: bold;
}

.menu-text span::after {
    content: ' /';
    
}

.menu-text span:last-child::after {
    content: '';
}

.grey-square {
    background-color: rgb(244, 243, 243);
    position: absolute;
    top: 15%;
    width: 100%;
    height: 10%;
}

.first-mid {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 110%;
    width: 100%;
    top: 24.99999%;
}

.first-mid-img img {
    position: absolute;
    height: 60%;
    top: 15%;
    object-fit: cover;
    left: 4%;
    border-radius: 1%;
}

.first-mid-text {
    position: absolute;
    right: 5%;
    top: 5%;
    height: 85%;
    width: 45%;    
}

.first-mid-text-title {
    font-size: 40px;
    padding-left: 5%;
    letter-spacing: 1px;
    color: rgb(106, 103, 103);
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
}

.first-mid-text-par {
    position: absolute;
    height: 47%;
    width: 90%;
    top: 15%;
    text-align: left;
    line-height: 28px;
    font-family: 'Metropolis', sans-serif;
}

.first-mid-text-par p {
    position: relative;
    font-size: 20px;
    color: rgb(161, 160, 160);
}

.second-grey-square {
    background-color: rgb(244, 243, 243);
    position: absolute;
    width: 100%;
    height: 13%;
    top: 130%;
}

.bottom {
    position: absolute;
    top: 143%;
    width: 100%;
    height: 95%;
}

.bottom-text {
    position: absolute;
    width: 30%;
    height: 65%;
    left: 60%;
    top: 15%;
}

.bottom-text-title {
    position: absolute;
    height: 15%;
    left: 7%;
    width: 80%;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
}

.bottom-text-title p {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.bottom-grid {
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%; /* První sloupec užší, druhý širší */
    grid-template-rows: 35% 40% 1fr; /* Tři řádky, všechny stejně vysoké */
    top: 15%;
    left: 7%;
    width: 90%;
    height: 50%;
    font-size: 20px;
    color: rgb(125, 125, 125);
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;

}

.bottom-grid-first,
.bottom-grid-second,
.bottom-grid-fourth,
.bottom-grid-sixth {
    font-size: 21px; /* Pouze pro druhou a čtvrtou */
}

.bottom-grid-first {
    margin: 0;
    padding: 0;
}

.bottom-grid-first-title,
.bottom-grid-second-title,
.bottom-grid-fourth-title,
.bottom-grid-fifth-title,
.bottom-grid-sixth-title {
    position: relative;
}

.bottom-grid-first-title {
    font-size: 30px;
    color: grey;
    left: 10%;
    top: -15%;
}

.bottom-grid-second-title {
    top: 10%;
    left: 2%;
}

.bottom-grid-fourth {
    font-size: 17px;
}

.bottom-grid-fourth-title {
    left: 2%;
    top: 10%;
}



.bottom-grid-fifth-title {
    left: 12%;
    top: -10%;
}

.bottom-grid-sixth-title {
    top: 0%;
}

.kontakt {
    position: relative;
    top: 27%;
    width: 40%;
    left: 29.5%;
    height: 15%;
}

.kontakt button {
    width: 100%;
    height: 100%;
    background-color: #777;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Přidá hladký přechod */
}

.kontakt button:hover {
    background-color: #888; /* Zesvětlená barva pozadí */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Přidá stínování */
}

.map {
    position: relative;
    top: 15%;
    left: 5%;
    width: 50%;
    height: 65%;
}