body {
    font-family: 'Metropolis', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Zabraňuje horizontálnímu scrollování */
    font-stretch: condensed;
    font-style: normal;
}

a {
    text-decoration: none; /* Zruší podtržení */
    color: inherit; /* Nastaví barvu podle rodiče, ne výchozí modrou */
}
a:hover {
    color: #333; /* Barva při najetí myší (můžeš přizpůsobit podle potřeby) */
}

.top {
    position: absolute;
    top: 0;
    height: 15%;
    width: 100%;
}

.top-text {
    color: black;
    top: 38%;
    position: absolute;
    left: 3%;
    font-size: 25px;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
    font-weight: 100;
    cursor: pointer;
}

.menu {
    position: absolute;
    flex-direction: column;
    height: 7%;
    width: 57%;
    top: 40.5%;
    right: 0;
}

.menu-text {
    display: flex;
    position: relative;
    cursor: pointer;
    gap: 10px;
    font-size: 18px;
    top: 50%;
    letter-spacing: 2px;
    transition: font-weight 0.3s ease;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;

}

.menu-text :hover {
    font-weight: bold;
}

.menu-text span::after {
    content: ' /';
    
}

.menu-text span:last-child::after {
    content: '';
}

.grey-square {
    background-color: rgb(244, 243, 243);
    position: absolute;
    top: 15%;
    width: 100%;
    height: 10%;
}

.first-mid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    gap: 10px;
    height: 80%;
    width: 100%;
    top: 25%;
    margin: 0 auto;
}

.first-mid img {
    position: relative;
    top: 5%;
    left: 12%;
    width: 75%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.1); /* Zvětšení obrázku při najetí myší */
}
/* Styl pro lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
}
.lightbox .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.lightbox .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: white;
    cursor: pointer;
    user-select: none;
}
.lightbox .prev {
    left: 20px;
}
.lightbox .next {
    right: 20px;
}