body {
    font-family: 'Metropolis', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Zabraňuje horizontálnímu scrollování */
    font-stretch: condensed;
    font-style: normal;
}

a {
    text-decoration: none; /* Zruší podtržení */
    color: inherit; /* Nastaví barvu podle rodiče, ne výchozí modrou */
}
a:hover {
    color: #333; /* Barva při najetí myší (můžeš přizpůsobit podle potřeby) */
}

.top {
    position: absolute;
    top: 0;
    height: 57%;
    width: 100%;
    
}

.image img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.zoom {
    transition: transform 0.5s ease; /* Přidá hladký efekt při změně měřítka */
    transform: scale(1.7); /* Zvětší obrázek na 150% původní velikosti */
    filter: blur(5px);
}
.top-text {
    color: black;
    top: 10%;
    position: absolute;
    left: 3%;
    font-size: 25px;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
    font-weight: 100;
}

.menu {
    position: absolute;
    flex-direction: column;
    height: 7%;
    width: 57%;
    top: 8%;
    right: 0;
}

.menu-text {
    display: flex;
    position: relative;
    cursor: pointer;
    gap: 10px;
    font-size: 18px;
    top: 50%;
    letter-spacing: 2px;
    transition: font-weight 0.3s ease;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;

}

.menu-text :hover {
    font-weight: bold;
}

.menu-text span::after {
    content: ' /';
    
}

.menu-text span:last-child::after {
    content: '';
}
.top-title {
    position: absolute;
    top: 55%;
    height: 150px;
    width: 100%;
    text-align: center;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
}

.top-title-main {
    font-size: 70px;
    letter-spacing: 2px;
}
.top-subtitle {
    position: absolute;
    color: black;
    font-size: 30px;
    top: 60%;
    left: 41%;
    font-weight: lighter;
}

.first-mid {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    height: 70%;
    width: 100%;
    top: 60%;
}

.first-mid-img img {
    position: absolute;
    height: 75%;
    top: 15%;
    object-fit: cover;
    left: 7%;
    border-radius: 1%;
}

.first-mid-text {
    position: absolute;
    right: 5%;
    top: 15%;
    height: 75%;
    width: 50%;
    
}

.first-mid-text-title {
    font-size: 40px;
    padding-left: 5%;
    letter-spacing: 1px;
    color: rgb(106, 103, 103);
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
}

.first-mid-text-par {
    position: absolute;
    height: 47%;
    width: 90%;
    top: 15%;
    text-align: left;
    line-height: 28px;
    font-family: 'Metropolis', sans-serif;
}

.first-mid-text-par p {
    position: relative;
    font-size: 20px;
    color: rgb(161, 160, 160);
}

.first-mid-text-url {
    position: relative;
    height: 10%;
    width: 20%;
    padding-left: 5%;
    top: 50%;
    font-family: 'Metropolis', sans-serif;
}

.first-mid-text-url-text {
    font-size: 20px;
    cursor: pointer;
}

.grey-square {
    background-color: rgb(244, 243, 243);
    position: absolute;
    width: 100%;
    height: 18%;
    top: 135vh;
}

.second-mid {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    height: 120%;
    width: 100%;
    top: 153vh;
}

.second-mid-title {
    position: relative;
    height: 10%;
    width: 20%;
    top: 15%;
    color: rgb(106, 103, 103);
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
}

.second-mid-title-text {
    font-size: 50px;
    padding-left: 70px;
}

.second-mid-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    padding-left: 70px;
    top: 50%;
    gap: 20px;
}

/* Společné styly pro všechny grid prvky */
.second-mid-grid-first,
.second-mid-grid-second,
.second-mid-grid-third,
.second-mid-grid-sixth {
    font-size: 30px;
}

.second-mid-grid-first-title,
.second-mid-grid-second-title,
.second-mid-grid-third-title,
.second-mid-grid-fourth-title,
.second-mid-grid-fifth-title,
.second-mid-grid-sixth-title {
    font-size: 30px;
}

.second-mid-grid-first-title p,
.second-mid-grid-second-title p,
.second-mid-grid-third-title p,
.second-mid-grid-fourth-title p,
.second-mid-grid-fifth-title p,
.second-mid-grid-sixth-title p {
    margin-top: 8px;
    font-size: 20px;
    color: rgb(161, 160, 160);
    line-height: 28px;
    font-family: 'Metropolis', sans-serif;
}

/* Specifické styly */
.second-mid-grid-first,
.second-mid-grid-second {
    width: 58vh;
}

.second-mid-grid-third {
    width: 55vh;
    height: 60%;
}

.second-mid-grid-sixth {
    transform: translate(0, -50px);
    width: 78vh;
    height: 30vh;
}

.second-mid-button {
    position: relative;
    background-color: white; /* Barva pozadí tlačítka */
    color: rgb(161, 160, 160); /* Barva textu */
    border: none; /* Odstraní výchozí rámeček */
    border-radius: 5px; /* Zaoblení rohů */
    font-size: 16px; /* Velikost písma */
    cursor: pointer; /* Ukazatel myši se změní na ruku */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stín pod tlačítkem */
    transition: all 0.3s ease; /* Plynulý přechod pro všechny změny */
    top: 70%;
    width: 14%;
    height: 8%;
    left: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.second-mid-button-text {
    font-size: 23px;
}

.second-mid-button:hover {
    background-color: rgb(255, 255, 255); /* Světlejší barva při najetí myší */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Tmavší stín při najetí myší */
    transform: translateY(-2px); /* Malé zvednutí tlačítka */
}

.second-grey-square {
    background-color: rgb(244, 243, 243);
    position: absolute;
    width: 100%;
    height: 18%;
    top: 280vh;
}

.two-images {
    background-color: white;
    position: absolute;
    top: 298vh;
    width: 100%;
    height: 85%;
}

.image-first {
    position: relative;
    height: 67%;
    border-radius: 5px;
    top: 16%;
    left: 5%;
}

.image-second {
    position: relative;
    height: 67%;
    border-radius: 5px;
    top: 16%;
    left: 15%;
}

.third-grey-square {
    background-color: rgb(244, 243, 243);
    position: absolute;
    width: 100%;
    height: 18%;
    top: 383vh;
}

.bottom {
    position: absolute;
    background-color: white;
    top: 401vh;
    width: 100%;
    height: 120%;
}

.bottom-title {
    position: relative;
    top: 10%;
    width: 15%;
    height: 10%;
    left: 42.5%;
    color: rgb(106, 103, 103);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Playfair Display Flex, Playfair-Display-Fallback, Apple Color Emoji, Noto Color Emoji, serif;
}

.bottom-title-text {
    font-size: 50px;
}

.bottom-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(2, 35%);
    top: 15%;
    left: 23.5%;
    font-size: 20px;
    gap: 15px;
    color: rgb(125, 125, 125);
    column-gap: 40px;
}

.bottom-grid-first { text-align: right; }
.bottom-grid-second, .bottom-grid-fourth { text-align: left; }
.bottom-grid-third { text-align: right; }

.bottom-grid-first-title,
.bottom-grid-second-title,
.bottom-grid-third-title,
.bottom-grid-fourth-title {
    font-weight: bolder;
}

.bottom-grid-first-title p,
.bottom-grid-second-title p,
.bottom-grid-third-title p,
.bottom-grid-fourth-title p {
    margin-top: 5px;
    font-weight: lighter;
    color: rgb(161, 160, 160);
    font-family: 'Metropolis', sans-serif;
}

.map {
    position: relative;
    top: 15%;
    left: 28%;
}
